* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

.columnD {
	font-family: sans-serif;
	/* height: max-content; */
	margin-left: 30%;
	max-width: 600px;
	margin-top: 20px;
	text-align: center;
	justify-content: center;
	border: .5px solid;
}
body {
	max-width: 1440px;
	background-color: #ddd;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
}

/* CSS property for header section */
header {
	max-width: 1440px;
	margin: auto;
	margin-top: 10px;
	/* border: 1px solid; */
}

.header {
	background-color: #FBF3E7;
	padding: 15px;
	text-align: center;
}

.header .logo1 img {
	width: 110px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
}

.header .logo2 img {
	width: 75px;
	float: right;
}

.header h1 {
	font-family: 'Tomorrow';
	margin: 25px 0px 0px 0px;
	font-size: 200%;
	transition: .35s ease;
}

.header h3 {
	font-family: 'Tomorrow';
	margin: 10px 0px 20px 0px;
	font-size: 120%;
	transition: .35s ease;
}

header .header #demo {
	font-size: 15px;
	color: #001f3f;
	background-color: #fff;
	width: 300px;
	border-radius: 4px;
	display: flex;
	margin-right: 120px;
	margin-top: -15px;
	padding: 6px 0px 6px 10px;
	float: right;
}


/* CSS property for navigation menu */



ul {
	/* max-width: 1440px; */
	width: 100%;
	list-style-type: none;
	margin: auto;
	padding: 0; 
	overflow: hidden;
	background-color: #A72121;
	font-family: open sans;
	font-size: 1rem;
	transition: .35s ease;
}


li {
	float: left;
}



li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 1rem 3rem;
	text-decoration: none;
	border-right: 1px solid;
	transition: .35s ease;
}

li a:hover,
.dropdown:hover .dropbtn {
	background-color: rgba(0, 0, 0, 0.3);
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 252px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.search-container {
	float: right;
}

input[type=text] {
	padding: .4rem;
	margin-top: .7rem;
	font-size: 1rem;
	border-radius: 2px;
	border: 1px solid #ccc;
	transition: .35s ease;
}

.search-container button {
	float: right;
	padding: .4rem .8rem;
	margin-top: .7rem;
	margin-right: 1rem;
	background: #ddd;
	font-size: 1rem;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	transition: .35s ease;
}

.search-container button:hover {
	background: #ccc;
}



/* CSS property for content section */
section {
	max-width: 1440px;
	background-color: #fff;
	margin: auto;
	height: 1024px;
}


/* Left Column CSS */
.columnA {
	float: left;
	width: 25%;
	height: 50%;
	text-align: justify;
	border: .1px solid #ddd;
	border-radius: 3px;
	background-color: #DCDFF1;
	margin-left: 10px;
	margin-top: 15px;

}

.columnA #one {
	text-align: center;
	padding: 15px;
}

.columnA a #one {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	/* border-radius: 5px; */

}

.columnA a:hover #one {
	text-decoration: none;
	border-radius: 5px 5px 0px 0px;
	color: black;
	background-color: #f1f1f1;
}

.columnA #two {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: center;
}

.columnA a #two {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	/* border-radius: 5px; */

}

.columnA a:hover #two {
	text-decoration: none;
	border-radius: 5px 5px 0px 0px;
	color: black;
	background-color: #f1f1f1;
}

.columnA #three {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: center;
}

.columnA a #three {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	/* border-radius: 5px; */

}

.columnA a:hover #three {
	text-decoration: none;
	border-radius: 5px 5px 0px 0px;
	color: black;
	background-color: #f1f1f1;
}

.columnA #four {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: center;
}

.columnA a #four {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	/* border-radius: 5px; */

}

.columnA a:hover #four {
	text-decoration: none;
	border-radius: 5px 5px 0px 0px;
	color: black;
	background-color: #f1f1f1;
}

.columnB{
	width: 70%;
}



/* Notification CSS */
.columnC {
	float: right;
	width: 25%;
	padding: 0px 0px 20px 0px;
	text-align: center;
	text-align: justify;
	height: 50%;
	/* border: .1px solid #ddd; */
	border-radius: 3px;
	background-color: #DCDFF1;
	/* margin-left: 10px; */
	margin-top: -320px;
	margin-right: 15px;
}

.columnC #notification {
	text-align: center;
	width: 100%;
	padding: 15px;
	border-radius: 3px;
	background-color: #A72121;
	color: #fff;
}

.columnC p {
	padding: 20px;
}



/* News CSS */
.columnD {
	/* height: max-content; */
	margin-top: auto;
	text-align: center;
	border: 1px solid;
}


footer .head {
	background-color: #001f3f;
	max-width: 1440px;
	padding: 18px;
	color: #fff;
	margin: auto;
	text-align: center;
}

footer .body {
	background-color: #fff;
	max-width: 1440px;
	margin: auto;
	height: 30vh;

}



/* Media query to set website layout
according to screen size */

@media screen and (max-width:1330px) {
	ul{
		font-size: .9rem;
		transition: .35s ease;
	}
	li a, .dropbtn {
		
		color: white;
		text-align: center;
		padding: 1rem 1rem;
		text-decoration: none;
		border-right: 1px solid;
		transition: .35s ease;
	}

	input[type=text] {
		width: 9rem;
		margin-top: .7rem;
		font-size: .8rem;
		padding: .3rem;
		border-radius: 2px;
		border: 1px solid #ccc;
		transition: .35s ease;
	}
	.search-container button {
		background: #ddd;
		font-size: .8rem;
		margin-top: .7rem;
		transition: .35s ease;
	}

}

@media screen and (max-width:900px) {
	ul{
		font-size: .7rem;
		transition: .35s ease;
	}
	li a, .dropbtn {
		
		color: white;
		text-align: center;
		padding: 1rem 1rem;
		text-decoration: none;
		border-right: 1px solid;
		transition: .35s ease;
	}

	input[type=text] {
		width: 7rem;
		margin-top: .7rem;
		font-size: .7rem;
		padding: .3rem;
		border-radius: 2px;
		border: 1px solid #ccc;
		transition: .35s ease;
	}
	.search-container button {
		background: #ddd;
		font-size: .7rem;
		margin-top: .7rem;
		transition: .35s ease;
	}

}

@media screen and (max-width:750px) {
	ul{
		font-size: .6rem;
		transition: .35s ease;
	}
	li a, .dropbtn {
		
		color: white;
		text-align: center;
		padding: 1rem .5rem;
		text-decoration: none;
		border-right: 1px solid;
		transition: .35s ease;
	}

	input[type=text] {
		width: 7rem;
		margin-top: .7rem;
		font-size: .5rem;
		padding: .3rem;
		border-radius: 2px;
		border: 1px solid #ccc;
		transition: .35s ease;
	}
	.search-container button {
		background: #ddd;
		font-size: .5rem;
		margin-top: .7rem;
		transition: .35s ease;
	}
}

@media screen and (max-width:600px) {

#content {padding: 20px;}
.row .columnA{
	/* margin-top: 70px; */
	float: none;
	width: 100%;
	margin-left: 0;
	transition: .35s ease;
}


.columnB{
	float: none;
	width: 100%;
	margin-left: 0;
	transition: .35s ease;
}

.columnC { 
	margin-left: 0;
	width: 100%;
	margin-right: 2%;
	margin-top: 20px;
	margin-bottom: 20px;
	float: none;
	transition: .35s ease;
}

.header h1{
	font-size: 100%;
}
.header h3{
	font-size: 60%;
	transition: .35s ease;
}

.header .logo1 img {
	width: 4.5rem;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	transition: .35s ease;
}

.header .logo2 img {
	width: 3rem;
	float: right;
	transition: .35s ease;
}

li{ float: none; }

li a, .dropbtn {
	width: 100%;
	float: none;
	display: block;
	color: white;
	text-align: left;
	padding: 14px;
	/* margin: 0%; */
	/* padding: 14px 45px; */
	/* text-decoration: none; */
	border-right: 1px solid;
	transition: .35s ease;
}

input[type=text] {
	display: block;
	text-align: left;
	width: 100%;
	padding: 12px;
	border-radius: 2px;
	border: 1px solid #ccc;
	transition: .35s ease;
}

.search-container { float: none; }
.search-container button {
	width: 100%;
	background: #ddd;
	border-radius: 2px;
	cursor: pointer;
	display: block;
	text-align: left;
	margin: 0;
	padding: 14px;
	transition: .35s ease;
}

	
	
li.dropdown { display: block; }
	
.dropdown-content {
		display: none;
		/* position: absolute; */
		background-color: #f9f9f9;
		min-width: 100%;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
}
	
.dropdown:hover .dropdown-content { display: block; }
/* search bar css */


header .header #demo{
	display: none;
}

 /* Footer css */
	footer{ width: 100%; }
	
}