.formtype{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:25px;
    text-align: center;
    padding-top:100px;
}
.form_info{
  font-family: monospace;
  font-size:20px;
  text-align:center; 
  margin-top:5px; 
}
.formheader{
font-family: monospace;
font-size: 20px;
font-weight: bold;
text-align: center;
background-color: #ECDCF8;
border-radius:20px;
border-width:2px;
border-style: solid;
stroke: #670D0D;
border-color: #670D0D;
margin-left:500px;
margin-right:500px;
}
.formtypeA1{
    border-radius:20px;
    border-width:1px;
    border-style: solid;
    stroke: #670D0D;
    border-color: #670D0D;
    height:300px;
    width: 1000px ;
    padding-bottom: 20px;
    margin-left:120px;
    background-color:#D6CDF6;
}
input, label {
  margin: 5px 5px;
}

.form-group {
  margin: auto;
  width: 450px;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCounty {
  width: 45%;
}

#inputCountry {
  width: 50%;
}
.button1div{
  margin-left:430px;
  margin-top:20px;
}
.button2div{
  margin-left:55px;
  margin-top: 20px;
  
}
.button1{
  background-color: #F9A0F0; 
  color:#860B21; 
  border:none; 
  padding-left:25px; 
  padding-right:25px; 
  padding-top:10px; 
  padding-bottom:10px; 
  border-radius:10px; 
  font-family: 'Courier New', Courier, monospace;
  font-weight:900;
  font-size: larger;
}
body{
  background:#eee;
}

.bgWhite{
  background:white;
  box-shadow:0px 3px 6px 0px #cacaca;
}

.title{
  font-weight:600;
  margin-top:20px;
  font-size:24px;
  text-align: center;
}

.customBtn{
  border-radius:0px;
  padding:10px;
}
.container{
  width: 400px;
  height: 600px;
  margin-left: 400px;
  border-radius: 20px;
}
.in1{
  margin: 10px;
	height: 35px;
	width: 65px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: arimo;
	font-size: 1.2rem;
	background: #eef2f3;
}
#div23{
  display: none;
}
/*form input{
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
}*/
