
.button1 {
  color: #860B21;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: larger;
}