.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #06264D;
    font-weight: bolder;
    text-align: center;

}

.block_part_a {
    border-radius: 20px;
    border: #000;
    background-color: #B1A3E8;
    margin-left: 250px;
    width: 760px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    height: 400px;
}

.block_part_a_head {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: auto;
}

.part_a_types {
    background-color: #ED74E1;
    border: #861212;
    align-items: center;
    border-radius: 20px;
    border-color: #861212;
    border-style: solid;
    border-width: 1px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bolder;
    text-align: center;

}